@import './base.css';
@import './font.css';

.my-50 {
  margin: 50px 0;
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
} */

body {
  font-family: 'Acumin Pro', sans-serif;
}

.section-container {
  padding: 0 64px;
  /* width: 100%; */
  max-width: 1920px;
}

.button {
  line-height: 20px;
  height: 54px;
  font-weight: 700;
  border: 0;
  border-radius: 100vmax;
  text-transform: uppercase;
  padding: 0.875rem 2.5rem;
  width: max-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button--black {
  background-color: #000;
  color: #fff;
}

.button--white {
  background-color: #fff;
  color: #000;
}

.button:hover {
  opacity: 0.8;
}

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
} */

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */